<h1>Hola home</h1>

<p class="listd">Listado de Productos</h2>
<div id="listProd">
    {{#each products}}
    <div class="prods">
        <h2>{{title}}</h2>
        <p>CAT: {{category}} REF: {{code}} </p>
        <h4>{{description}}</h4>
        <p>Stock: {{stock}}</p>
    </div>
    {{/each}}
</div>


